{% extends "layout.html" %}

{% block summary %}
Summary of home
{% endblock %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, asperiores ipsum? Eligendi dolore laborum dicta dolorem. Obcaecati facilis nesciunt, reiciendis quidem ut commodi earum necessitatibus mollitia autem omnis modi consequatur. 
</br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque reprehenderit omnis unde sit reiciendis fugit saepe. Necessitatibus, excepturi nemo. Dicta suscipit aspernatur, quas minus sunt rerum pariatur. Officiis, ullam perspiciatis.
Excepturi harum quae adipisci illo maiores cupiditate at accusantium molestias, ea perspiciatis corrupti necessitatibus molestiae repellendus corporis, doloribus illum autem, dignissimos culpa. Dignissimos explicabo quis facilis a ullam nemo atque!
Unde iste labore aperiam et laudantium. Porro tempora cum debitis odit ad quaerat similique voluptate quis itaque ratione. In sapiente rem expedita officia ipsum eligendi ab aut quisquam nam repellat?
Maxime voluptatem tempore a architecto beatae delectus, repudiandae deleniti. Nisi, vitae. Dolor incidunt itaque voluptate tempora! Voluptatum pariatur atque, in doloremque, quo libero quae repellendus vitae quod ullam perspiciatis dolorum!
Dolorem debitis itaque error distinctio illo ad optio non ab deserunt, explicabo accusantium a, est commodi ducimus veniam placeat sunt assumenda aliquid ex. Consequatur obcaecati quasi fuga numquam delectus qui?
{% endblock %}